# clés secrètes
id_rsa*
*.env
# fichiers particuliers
French-zip-code-3.0.0-SQL.zip
.fuse_hidden*
perso.md
BACK_END/api/*/vendor/*
BACK_END/api/*/bin/*
composer.lock
keys.php
*attaque-*.txt

# pour empêcher la mise dans le main pour l'instant du projet laravel frontend
FRONT_END/frontend-laravel

# Pour laravel
/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
